<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, shrink-to-fit=no">
    <title>CV Classifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{'/images/favicon.ico'}">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
                    <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">

                    </span>
            <span>CV Classifier</span>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5">
            <span class="visually-hidden">Toggle Navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-5" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <!--li class="nav-item">
                    <a class="nav-link active" href="#">First Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Second Item</a>
                </li-->
                <!--li class="nav-item">
                    <a class="nav-link" th:href="@{'/cv-classifier/filter'}">Filter</a>
                </li-->
            </ul>
            <a class="btn btn-primary ms-md-2" role="button" th:href="@{'/cv-classifier'}">Home</a>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <!--div class="col-md-12"-->
        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>

        <p  id="api-error" style="display: none" class="alert alert-danger"></p>

        <form th:action="@{/cv-classifier/upload}" method="post" enctype="multipart/form-data">
            <div class="row col-md-12">
                <div class="col-md-5">
                    <label for="name">Candidate Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="file">Candidate Resume</label>
                    <input type="file" name="file" id="file" class="form-control" webkitdirectory mozdirectoryv required>

                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-4 float-end">Upload</button>
                </div>


            </div>

        </form>
        <!--div class="progress">
            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div-->
        <!--/div-->
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Uploaded Resumes</h2>
            <div class="card">
                <div class="card-header">
                    <form th:action="@{/cv-classifier}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by skill" name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" style="height: 100%">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </form>


                </div>
                <div class="card-body">
                    <div class="row" th:if="${candidates ne null}" th:each="candidate: ${candidates}">
                        <div class="col-md-9">
                            <h4 class="card-title" th:text="${candidate.name}"></h4>
                            <h6 class="text-muted card-subtitle mb-2">Uploaded At <span
                                    th:text="${candidate.resumeUploadedTimestamp}"></span></h6>
                        </div>
                        <div class="col-md-3">
                            <button class="card-link btn btn-primary float-end jq-class" id="btn-resume-details">
                                <span style="display:none" th:text="${candidate.resumeId}"></span>
                                Get Details</button>
                        </div>
                        <hr/>
                    </div>
                    <!--a class="card-link" href="#">Link</a-->
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Resume Details</h2>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Personal Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text font-weight-bold" style="font-weight:bold">Contact No</p>
                            <p class="card-text font-weight-bold" style="font-weight:bold">Email</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text" id="phone"></p>
                            <p class="card-text" id="email"></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Experience</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" id="experience"></p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Education</h5>
                </div>
                <div class="card-body">
                    <div id="edu-level"></div>
                    <p class="card-text" id="education"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Skills</h5>
                </div>
                <div class="card-body" id="skills">

                    <!--span class="badge badge-primary bg-dark mx-1 my-1" style="font-size:15px"
                          th:each="skill: ${resume.skills}" th:text="${skill}"></span-->

                </div>
            </div>
        </div>
    </div>
</div>
<!--div id="cover-spin"></div-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    console.log("ABC")

    $(document).on('click', '.jq-class', function(e) {
        var resumeId = $(this).children('span').text();
        console.log(resumeId)

        $.ajax({
            url: "http://localhost:8081/api/cv-classifier/" + resumeId,
            contentType : "application/json",
            accept : "application/json",
            success: function(result){
                console.log(result);

                $('#phone').empty()
                $('#phone').text(result.phone)

                $('#email').empty()
                $('#email').text(result.email)

                $('#experience').empty()
                $('#experience').text(result.experience)

                var educationTags = ""

                for(let i = 0; i < result.analyzedEducationDTOS.length; i++) {
                    educationTags += `<span class="badge badge-primary bg-dark mx-1 my-1" style="font-size:15px">
                        ${result.analyzedEducationDTOS[i].level} :  ${result.analyzedEducationDTOS[i].years} years</span>`
                }

                $('#edu-level').empty()
                $('#edu-level').prepend(educationTags)

                $('#education').empty()
                $('#education').text(result.education)

                var skillTags = ""

                for(let i = 0; i < result.skills.length; i++) {
                    skillTags += `<span class="badge badge-primary bg-dark mx-1 my-1" style="font-size:15px">${result.skills[i]}</span>`
                }

                $('#skills').empty()
                $('#skills').prepend(skillTags)

            },
            error : function(err) {
                console.log(err)

                $('#api-error').text('No resume for given Id')
                $('#api-error').css({'display' : 'block'})
            }
        })

    });

    /* $('#btn-resume-details').click(function() {
        var resumeId = $(this).children('span').text();


    }) */

</script>


</body>

</html>